<body>

    <section>
        <h1>Home</h1>
        <div class="top-right">
            <label for="example">Label:</label>
            <button>Button 1</button>
            <button>Button 2</button>
            <button>Button 3</button>
        </div>
    
        <div class="section-buttons">
            <button>Button A</button>
            <button>Button B</button>
            <button>Button C</button>
            <button>Button D</button>
            <button>Button E</button>
        </div>
    </section>
    
    </body>