<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/img/nyancatiocon.png" alt="" width="30" height="24">

  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

          @if (userLogged === null)
          {
            <li class="nav-item">
              <a class="nav-link active" routerLink="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/register">Registrarse</a>
            </li>

          }

        <li class="nav-item">
          <a class="nav-link active" routerLink="/quiensoy">QuienSoy</a>
        </li>
          @if(userLogged){

            <li class="nav-item">
              <a class="nav-link active" routerLink="/home" (click)="logout()">Salir</a>
            </li>
          }

      </ul>
    </div>
  </div>

  <div class="container-fluid">
    @if (userLogged) {

      <a class="navbar-brand">
        <img *ngIf="userLogged.photoURL" [src]="userLogged.photoURL"
        alt="" width="30" height="24" class="d-inline-block align-text-top ">
          usuario = {{userLogged.email}}
      </a>
    }

  </div>
</nav>
