<div class="row">
    <div class="col text-center">
        <img
            src="assets/imgAhorcado/{{intentos}}.png"
            style="width: 200px; height: auto;">
        <h3>Intentos: <small>{{intentos}} / {{maxIntentos}}</small></h3>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h4>Palabra: {{ palabraOculta }}</h4> <!-- Muestra la palabra oculta -->
    </div>
</div>

<div class="row" *ngIf="!gano && !perdio">
    <div class="col text-center">
        <button
            (click)="comprobar(letra)"
            *ngFor="let letra of letrasDisponibles"
            class="btn btn-outline-danger"
            [disabled]="perdio"> <!-- Deshabilita los botones si ya se perdió -->
            {{letra}}
        </button>
    </div>
</div>

<div class="row" *ngIf="perdio">
    <div class="col text-center">
        <button class="btn btn-primary" (click)="reiniciarJuego()">Jugar de nuevo</button>
    </div>
</div>

<div class="row" *ngIf="gano">
    <div class="col text-center">
        <button class="btn btn-primary" (click)="reiniciarJuego()">Jugar de nuevo</button>
    </div>
</div>