<div class="container-wrapper">
  <div class="container">
    <img class="profile-image" src="assets/img/fotoDePerfil.jpeg" alt="Imagen de perfil">
    <h1>Hola! Mi nombre es Yober Marlow Vasquez Panduro</h1>
    <p>Soy estudiante de la Tecnicatura Universitaria en Programacion en la UTNFRA </p>
    <p>Contactos:</p>
    <p>Mail: yober2828gmail.com Telefono: 1157997883</p>
  </div>
  <div class="container">
    <img class="profile-image" src="assets/img/ruleta.jpeg" alt="Imagen de perfil">
    <h1>Ruleta Rusa</h1>
    <p>Juego mortal, el jugador tiene 3 vidas </p>
    <p>y se van gastando cada vez que dispara</p>
    <p>mostrando como muere o sobrevive el personaje</p>
  </div>
</div>
