<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="container">
              <h1>Juego de Ruleta Rusa</h1>
              @if (juegoIniciado && !juegoTerminado) {

                <img src="assets/imgRuleta/giphy.gif" alt="Ruleta girando">
              }

              <ng-container *ngIf="juegoTerminado">
                <ng-container *ngIf="seGano === 6; else perdio">
                  <h2 class="mensaje-gano">¡Has sobrevivido a la ruleta rusa, papu!</h2>
                </ng-container>
                <ng-template #perdio>
                  <h2 class="mensaje-perdio">Juego terminado</h2>
                  <p>¡Has perdido todas tus vidas!</p>
                </ng-template>
                <button (click)="reiniciarJuego()" class="btn btn-primary">Volver a jugar</button>
              </ng-container>



                @if (!juegoTerminado && juegoIniciado) {

                  <button (click)="disparar()" [disabled]="vidasRestantes === 0 || disparoEnProgreso" class="btn btn-outline-light">¡Disparar!</button>
                  <img src="assets/imgRuleta/apunte.png" alt="Estás vivo" class="estado" [hidden]="resultadoDisparo !== 'Vivo'">
                  <p [hidden]="resultadoDisparo !== 'Vivo'">¡Estás vivo!</p>
                  <img src="assets/imgRuleta/muerte2.png" alt="Perdiste una vida" class="estado" [hidden]="resultadoDisparo !== 'PerdioVida'">
                  <p [hidden]="resultadoDisparo !== 'PerdioVida'">¡Perdiste una vida!</p>
                  <p>Vidas: {{ vidasRestantes }}</p>
                  <p>Muertes: {{ 3 - vidasRestantes }}</p>
                }
                @if (!juegoIniciado) {
                  <button (click)="iniciarJuego()" class="btn btn-primary">Comenzar</button>

                }

              <audio id="sound-disparo" src="assets/audio/disparo.mp3"></audio>
              <audio id="sound-nodisparo" src="assets/audio/nodisparo.mp3"></audio>
              <audio id="sound-giro" src="assets/audio/giro.mp3"></audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
