<body>
    <section>
        <div class="section-buttons">
            <div>
                  @if ((usuarioLogeado) === null) {

                    <h2 class="display-1 text-decoration-underline" style="color: white;">
                      Inicie sesión para acceder a los juegos.
                    </h2>

                  }
                  @if (usuarioLogeado) {
                    <div class="button-item">
                      <a routerLink="/games/ahorcado" class="icon-button">
                          <img src="assets/img/ahorcado.png" alt="ahorcado">
                      </a>
                      <p style="color:white">ahorcado</p>
                  </div>

                  <div class="button-item">
                      <a routerLink="/games/mayormenor" class="icon-button">
                          <img src="assets/img/mayormenor.jpg" alt="mayormenor">
                      </a>
                      <p style="color:white">mayormenor</p>
                  </div>
                  <div class="button-item">
                      <a routerLink="/games/preguntados" class="icon-button">
                          <img src="assets/img/preguntados.png" alt="preguntados">
                      </a>
                      <p style="color:white">preguntados</p>
                  </div>
                  <div class="button-item">
                    <a routerLink="/games/ruleta" class="icon-button">
                        <img src="assets/img/ruleta.jpeg" alt="ruleta">
                    </a>
                    <p style="color:white">ruleta rusa</p>
                </div>

                  }
            </div>
        </div>
    </section>
</body>
