.btn-success {
  background-color: green;
  border: 2px solid green;
}

.btn-danger {
  background-color: red;
  border: 2px solid red;
}

.btn-outline-light {
  background-color: transparent;
  border: 2px solid white;
}
