<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
              @if (!quizCompletado) {

                <h2 class="fw-bold mb-4 text-uppercase">Pregunta {{ indiceActual + 1 }}</h2>
                <p class="text-white mb-4">{{ preguntaActual()?.question }}</p>
                <div>

                  @for (respuesta of preguntaActual()?.incorrect_answers; track $index) {

                    <button
                    class="btn btn-lg mb-2"
                    [disabled]="estaDeshabilitado()"
                    (click)="comprobarRespuesta(respuesta)"
                    [ngClass]="{'btn-success': esRespuestaCorrecta(respuesta),
                    'btn-danger': esRespuestaIncorrecta(respuesta),
                    'btn-outline-light': !estaDeshabilitado() && respuestaSeleccionada !== respuesta}">

                    {{ respuesta }}
                  </button>

                  }

                </div>

                <button
                  class="btn btn-lg mb-2"
                  [disabled]="estaDeshabilitado()"
                  (click)="comprobarRespuesta(preguntaActual()?.correct_answer)"
                  [ngClass]="{'btn-success': esRespuestaCorrecta(preguntaActual()?.correct_answer),
                  'btn-danger': esRespuestaIncorrecta(preguntaActual()?.correct_answer),
                  'btn-outline-light': !estaDeshabilitado() && respuestaSeleccionada !== preguntaActual()?.correct_answer}">

                  {{ preguntaActual()?.correct_answer }}

                </button>
                <div>

                  <button class="btn btn-outline-light btn-lg px-5 mt-3" (click)="siguientePregunta()">Siguiente</button>

                </div>
              }

              @if (quizCompletado) {

                <h2 class="fw-bold mb-4 text-uppercase">¡Quiz Completado!</h2>
                <p class="text-white mb-4">Respuestas Correctas: {{ respuestasCorrectas }} / {{ preguntas.length }}</p>
                <p class="text-white mb-4">Respuestas Incorrectas: {{ respuestasIncorrectas }} / {{ preguntas.length }}</p>
                <button class="btn btn-outline-light btn-lg px-5" (click)="reiniciarJuego()">Reiniciar Juego</button>

              }

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
